@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");

.carousel-item img {
    width: 100%;
    height: 100vh;
}
.block_absolute h5 {
    position: absolute;
    bottom: 310px;
    font-family: "Cormorant", serif;
    color: white;
    font-size: 64px;
    font-weight: 300;
    text-align: left;
}
.carousel-caption{
    position: relative;
}
.block_absolute button {
    position: absolute;
    bottom: 230px;
    width: 250px;
    background: #ab844a;
    color: white;
    height: 44px;
    border: none;
    font-size: 17px;
    font-weight: 300;
}

.block_absolute {
    float: left;
}
.carousel-item {
    position: relative;
}
.block_absolute img {
    width: 14px;
    height: 14px;
}
.arrow {
    margin: 0 7px;
}
@media screen and (max-width: 1120px) {
    
    .block_absolute h5 {
        bottom: 250px;
        font-size: 53px;
    }

    .block_absolute button {
        bottom: 195px;
        font-size: 17px;
    }
}
@media screen and (max-width: 965px) {
    .carousel{    
    padding-top: 60px;
    }
}
@media screen and (max-width: 810px) {
    .block_absolute h5 {
        bottom: 250px;
        font-size: 48px;
    }

    .block_absolute button {
        bottom: 190px;
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .block_absolute{
        position: relative;
    }
    .block_absolute h5 {
         bottom: 250px;
        font-size: 21px;
    }

    .block_absolute button {
         bottom: 190px;
        font-size: 17px;
    }
}