$gray: rgba(124, 124, 124, 1);
$dark: rgba(43, 42, 42, 1);
.cart{
    display: flex;
    margin: 15px;

    .cart__blockOne{

        
    }
    // block
    .cart__blockTwo{
        margin: 0 10px;

        .cart__blockTwo__title{
            font-weight: 550;
            font-size: 14px;
            color: $dark;
        }
        .cart__blockTwo__size{
            font-weight: 400;
            font-size: 13px;
            color: $gray;
            margin-bottom: 5px;

            span{
                color: $dark;
            }
        }
        .cart__blockTwo__color{
            font-weight: 400;
            font-size: 13px;
            color: $gray;

            span{
                color: $dark;
            }
        }
        // block inner
        .cart__blockTwo__btns{
            margin-top: 13px;
            display: flex;
            border: none;
            .cart__blockTwo__btnMinus{
                width: 32px;
                height: 32px;
                background: rgba(43, 42, 42, 1);
                color: white;
            }
            .cart__blockTwo__btnText{
                margin: 0 10px;
                font-size: 16px;
                font-weight: 550;
            }
            .cart__blockTwo__btnMPlus{
                width: 32px;
                height: 32px;
                color: white;
                background: rgba(171, 132, 74, 1);
            }
            .cart__blockTwo__price{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
        //---END OF---block inner
    }
    // block
    .cart__blockThree__close{
        display: flex;
        justify-content: flex-end;
        margin-left: 20px;
    }
}