$white: #fff;
$grey: #7c7c7c;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainContainer {
    width: 100%;
    height: 100vh;
    &__link {
        width: 100%;
        height: 60px;
        padding-left: 92px;
        padding-top: 30px;
    }
    &__list {
        list-style: none;
        display: flex;
    }
    .main_header {
        margin-top: 40px;
        padding-left: 92px;
        padding-top: 30px;
        span {
            font-size: 38px;
            font-weight: 400;
            top: 20px;
        }

        .first_image {
            width: 100%;
            padding-top: 20px;
            position: relative;
        }
        .first_image__text {
            position: absolute;
            width: 703px;
            height: 157px;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            top: 380px;
            left: 480px;
        }
        .first_image__pg {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 420px;
            height: 440px;
            background-color: $white;
            top: 637px;
            left: 510px;
        }
        .first_image__pg > p {
            padding: 24px;
            line-height: 26.25px;
            letter-spacing: 6%;
            font-size: 15px;
            color: $grey;
            font-weight: 400;
        }
        .second_image {
            width: 352px;
            height: 445px;
            top: 813px;
            padding-top: 40px;
        }
        .third_image {
            position: absolute;
            width: 700px;
            height: 469px;
            top: 1095px;
            left: 515px;
        }
        .fourth_image {
            position: absolute;
            z-index: 1;
            padding-top: 40px;
            background-color: $white;
            width: 353px;
            height: 416px;
            p {
                color: $grey;
                line-height: 26.25px;
                letter-spacing: 6%;
            }
        }
    }
}

@media all and (max-width: 720px) {
    .main_header {
        margin: 0 auto;
    }
}
